@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family:
        'Roboto', sans-serif;
}

body {
    background: #1c1a2c;
}

.bar {
    background: #9e9d99;
    width: 20em;
    height: 2em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.bar label {
    z-index: 10;
}

.bar .bar-inner {
    z-index: 5;
    background: #07896d;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition: width 0.1s;
}